@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');




.bio-text {
  color:black;
  font-family: Abril Fatface;
}


#bioPage {
  text-align: center;
  justify-content: center;
  font-size: larger;
  font-weight: 300;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  // border-radius: 80px;
  // box-shadow: 5px;
  
  // margin: 0% auto;
  // margin-top: 10px;
  // width: 100%;
  // padding: 10px;
  // background-color:#f0dfc8 ;
  // background-color:black; 
  color: black;
}

img.myPhoto {
  text-align: center;
  height: 300px;
  width: 200px;
  // border-radius: 150px;
  // box-shadow: black 5px 5px;
  float: inline-end;
  margin: 0 auto;
  // width: 50%;
  padding: 10px
}