body {
    background-color: #e7e1d8;
    background-image: url("https://www.transparenttextures.com/patterns/stressed-linen.png");
     
}
body.tech{
    background-color: white;


}
img.large {

    background-position: center top;

}

img.miniIcons {
    text-align: center;
    width: 2em;
    height: 2em;
    }


.icons{
    text-align: center;

}
p.footer {
    text-align: center;
}