body {
    background-color: #e7e1d8;
    background-image:background-color: #7a8799;
    background-image: url("https://www.transparenttextures.com/patterns/stressed-linen.png");
     
}
h1 {
    text-align: center;
}
#navLinks {
   
}

