@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


.navbar {
   font-size: larger;
  font-weight: 500;
  // background-color:#f0dfc8; 
  font-family: Rock Salt;
  padding: 5px;
  color: #504d65;
  text-align: center;

 
}


.navbar-nav {
  color: #504d65;
 width: 100%;
  text-align: center;
}


.nav-item {
  color: #504d65;
  font-size: 30px;
  font-weight: 800;
  font-family: Rock Salt;
  margin: 20px;
  padding: 50px;
  


}


a {
  color:#504d65;
  transform: rotate(40);
  display: inline-block;
}

.navbar-brand {
  width: 400px;
  height: 200px;
  padding: 5px;
  margin: 0;
  
}
