@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '../styles/colors.scss';



body {
    background: url(https://images.unsplash.com/photo-1488409688217-e6053b1e8f42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.intro-welcome {
    text-align: center;
    color: $color6-navy;
}
.project-screenshot {
    width: 150%;
}

.project-title {
    text-align: center;
}
.project-text {
    text-align: center;
}
p {
    color:$color6-navy;
    font-size: 900;
    font-weight: 900;
    font-family: Rock Salt;
   }

.nav-links {
    color: $color6-navy;
}
#navLinks {
    color: $color6-navy;
   }


li {
   color: $color6-navy;
}


#bioPage {
    text-align: center;
    font-size: larger;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(150, 73, 150);
    // border: black solid;
    border-radius: 150px;
    box-shadow: 5px;
    opacity: .8;
}

img.myPhoto {
    text-align: center;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    // box-shadow: black 5px 5px;
    float: inline-end;
    margin: 15px 15px;
  }
dl .d-flex.row-wrap {
size: 40em;

}
.tech-header {
    text-align: center;
    color: $color6-navy;
    font-family: Rock Salt;
   
}

#techPage {
    font-family: Rock Salt;
    background-color: rgb(150, 73, 150);
    // border: black solid;
    border-radius: 50px;
    box-shadow: 5px;
    opacity: .8;

}
#technologies {
    text-align: center;
    padding: 10px 10px 5px 5px;
    display: block;
    
}
.navbar-brand {
    width: 160px;
    height: 160px;
    padding: 0px;
    margin: 0;
}
  .cardDisplay {
      text-align: center;
      display: flex;
      justify-content: center;
  }


.tech-icon {
    text-align: center;
    width: 100px;
  padding: 10px;
  opacity: .80;

}
.navbar-bio {
    background-color: rebeccapurple;
}
#navbar {
   font-size: larger;
   font-weight: 300;
   background-color: rebeccapurple; 
   font-family: Rock Salt;
   background: rebeccapurple;
}
#technology {
margin: 20px 20px;
width: 40px;
height: 40px;

}

img.miniIcons {
    text-align: center;
    width: 2em;
    height: 2em;
    }


.icons{
    text-align: center;

}
p.footer {
    text-align: center;
}
.carousel-inner img {
    min-height: 300px;
    max-height: 600px;
  }
  
  .carousel-item {
    justify-content: center;
  }
  
  #myCarousel {
    min-width: 300px;
    max-width: 850px;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.509);
    padding: 5px;
  }