@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '../styles/colors.scss';


body {
    // background-image: url("https://www.transparenttextures.com/patterns/stressed-linen.png");
    // background-image: url("https://images.unsplash.com/photo-1579199337277-3477c372d201?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;  
    background-color: whitesmoke;
}
.intro-welcome {
    text-align: center;
    color: $color5-opal;
}

p {
    color: $color5-opal;
}

#navLinks {
    color: $color5-opal;
   }

li {
   color: $color5-opal;
}



// .mac-book-photo {
// 
// background-image: url("https://images.unsplash.com/photo-1561152820-340780bc049e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
// height: 600px;
// width: auto;
// background-repeat: no-repeat;
// padding: 20px;
// box-shadow: black 5px 5px;
// background-size: cover;
// }
#bioPage {
    text-align: center;
}

img.myPhoto {
    height: 350px;
    width: 350px;
    border-radius: 150px;
    // box-shadow: black 5px 5px;
    float: inline-end;
    margin: 15px 15px;
    opacity: .5;
}
dl .d-flex.row-wrap {
size: 40em;

}
.tech-header {
    text-align: center;
    color: $color5-opal;
}

.technology-container {
    text-align: center;
    width: 24em;
    height: 24em;
    padding: 10px;
    display: block;
}
#tech-icon {
    margin-left: center;
    text-align: center;
}

#technology {
margin: 20px 20px;
width: 40px;
height: 40px;

}

img.miniIcons {
    text-align: center;
    width: 2em;
    height: 2em;
    }


.icons{
    text-align: center;

}
p.footer {
    text-align: center;
}